{% extends "blog/base.html" %}
{% block content %}
    <section id="about">
        <h2>About Culinary Canvas</h2>
        <p><strong>Welcome to Culinary Canvas</strong>, your creative hub for all things cooking and recipes! At Culinary Canvas, we believe that every dish is a masterpiece waiting to be created. Whether you're a seasoned home cook or just starting your culinary journey, our blog is designed to inspire, educate, and simplify your cooking experience.</p>

        <h3>On Culinary Canvas, you’ll find:</h3>
        
        <ul>
            <li><strong>Our Recipes</strong>: Discover a world of flavors with our curated selection of recipes. From comforting classics to innovative new dishes, we provide step-by-step instructions to help you create delicious meals at home. Explore different cuisines, experiment with new ingredients, and make every meal a culinary adventure.</li>

            <li><strong>Your Recipe Journal</strong>: Our platform allows you to save and organize your favorite recipes. Add your personal creations or adapt our recipes for your own use. Whether it's a family secret or a recipe you've discovered through us, you can keep everything organized in your own personalized recipe journal.</li>

            <li><strong>Shopping List Builder</strong>: Planning your meals has never been easier! With our shopping list feature, you can build a custom list directly from your saved recipes. Whether you're gathering ingredients for the week or planning for a special event, we've made it simple to create and manage your grocery list.</li>
        </ul>

        <p>At Culinary Canvas, we’re more than just a blog – we’re a community of food lovers who believe that cooking should be fun, accessible, and deeply rewarding. Join us in exploring the art of cooking, one delicious recipe at a time.</p>
        
        <p><strong>Bon appétit!</strong></p>
    </section>
{% endblock content %}