{% extends "blog/base_for_grid.html" %}
{% load static %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/our_recipes.css' %}">
{% endblock extra_css %}

{% block content %}
    <h3>Our Recipes</h3>
    <div class="ag-theme-alpine" id="our_recipes_grid" ></div>


{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="{% static 'recipes/js/our_recipes_grid.js' %}"></script>
{% endblock extra_js %}